@model TicketHunter.Models.Admin.IndexAdminViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Model.Event.EventName</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @if (Model.Event.ImageData != null)
                {
                    <img class="img-responsive center-block pubImg"
                         src="@Url.Action("GetImage", "Event", new { Model.Event.EventID })" />
                }
                <h4><i class="fa fa-calendar fa-lg pr10" aria-hidden="true"></i>Data publikacji:</h4>
                <div class="publishInfoStyle">@Model.Event.PublicationDate.Value.ToLongDateString()</div>
                <h4><i class="fa fa-clock-o fa-lg pr10" aria-hidden="true"></i>Pozostało:</h4>
                <div data-countdown="@String.Format("{0:yyyy'/'MM'/'dd HH:mm}", Model.Event.PublicationDate)" id="NMK" class="publishInfoStyle">
                    <b><i class="fa fa-spinner fa-spin fa-3x fa-fw loaderTime"></i></b>
                </div>
                <h4><i class="fa fa-tag fa-lg pr10" aria-hidden="true"></i>Nazwa wydarzenia:</h4>
                <div class="publishInfoStyle">@Model.Event.EventName</div>
                <h4><i class="fa fa-calendar fa-lg pr10" aria-hidden="true"></i>Start:</h4>
                <div class="publishInfoStyle">@Model.Event.EventStartDateTime.Value.ToLongDateString()</div>
                <h4><i class="fa fa-calendar fa-lg pr10" aria-hidden="true"></i>Koniec:</h4>
                <div class="publishInfoStyle">@Model.Event.EventEndDateTime.Value.ToLongDateString()</div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @foreach (var item in Model.IndexTickets.Where(x => x.EventID == Model.Event.EventID))
                    {
                        <div class="col-md-6">
                            <h2>@item.Location</h2>
                            <img src="@string.Format("https://app.seats.io/api/chart/{0}/thumbnail", item.ChartKey)" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer event-details-footer">
    <div class="row">
        <div class="col-md-7 center-block">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Zamknij</button>
            <button type="button" class="btn btn-primary btn-lg">Upublikuj teraz</button>
        </div>
    </div>
</div>
   

