@model TicketHunter.Models.Admin.IndexAdminViewModel

<div class="row">
    @foreach (var eve in Model.IndexEvents.Where(x => !x.Published))
    {
        <div class="hidden-md hidden-sm col-xs-12 col-lg-3" data-pubid="@eve.EventID">
                <div class="thumbnail eventThumbnail">
                    @if (eve.ImageData != null)
                    {
                        <img class="img-responsive center-block"
                             src="@Url.Action("GetImage", "Event", new { eve.EventID })" />
                    }
                    <div class="caption">
                        @*<button type="button" class="btn btn-primary btn-lg eventDetails" data-toggle="modal" data-eventId="@eve.EventID" data-target="#eventDetailsModal">
                            Launch demo modal
                        </button>*@
                        <a  class="eventDetails" data-toggle="modal" data-eventId="@eve.EventID"  data-target="#eventDetailsModal">@eve.EventName</a>
                        @*<h4>@Html.RouteLink(eve.EventName, new { controller = "Event", action = "ShowEvent", eventId = eve.EventID })</h4>*@
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-12">
                                <h3><i class="fa fa-calendar fa-lg pr10" aria-hidden="true"></i>Data publikacji:</h3>
                                <h4><b>@eve.PublicationDate.Value.Date.ToLongDateString()</b> o godzinie: <b>@eve.PublicationDate.Value.TimeOfDay</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3><i class="fa fa-clock-o fa-lg pr10" aria-hidden="true"></i>Pozostało:</h3>
                                <div data-countdown="@String.Format("{0:yyyy'/'MM'/'dd HH:mm}", eve.PublicationDate)" id=",LVBHQ" class="publishInfoStyle">
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="eventDetailsModal" data-url="@Url.Action("EventDetailsSummary")">
            <div class="modal-dialog event-details-dialog" role="document">
                <div class="modal-content eventContainer">

                </div>
            </div>
        </div>
    }
</div>



