@using Microsoft.AspNet.Identity
@model TicketHunter.Models.ChartViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/chart.css" rel="stylesheet" />
    @Styles.Render("~/Content/styles")
    <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <title>Chart</title>
</head>
<body>
    @Html.Hidden("Ticket",(Int32)@ViewBag.TicketId)
    <div class="container-fluid">
        <div class="row">
            @*<div class="col-md-2">
                
            </div>*@
            <div class="col-md-12">
                <p class="alert alert-info fs50 fff">
                <i class="fa fa-calendar pr" aria-hidden="true"></i>@Model.Ticket.DateOfEvent.ToLongDateString() 
                    <span class="space"><i class="fa fa-map-marker pr" aria-hidden="true"></i>@Model.Ticket.Location </span>
                <i class="fa fa-tag pr" aria-hidden="true"></i>@Model.Ticket.Title
                    <span class="flR">@User.Identity.GetUserName()</span>
                </p>
                <div id="chart"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reservationInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("ReservingInfoSummary")'>
        <div class="modal-dialog" role="document">
            <div class="modal-content reservationContent">
            </div>
       </div>
    </div>
    <link rel="shortcut icon" href="~/Content/img/tickets_icon.ico">
    <script type="text/javascript" src="https://app.seats.io/chart.js"></script>
    <script src="~/Scripts/Admin/myChart.js"></script>
</body>
</html>
